/* General */

*{
    font-family:'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    font-size:60px;
    color:darkmagenta;
    text-shadow: 2px 2px red;
}
body{
    background-image: linear-gradient(to right, rgb(255, 0, 0, 0.2),rgb(255, 165, 0, 0.4),rgb(255, 255, 0, 0.6),rgb(0, 128, 0, 0.7),rgb(0, 0, 255, 0.8),rgb(75, 0, 130, 0.9),rgb(238, 130, 238, 1));
}

/* Individual recipes formatting */

.recipes{
    width:800px;
    border:5px solid;
    border-radius:50px;
    padding:15px;
    margin:auto;
    background-color:#fad2e0;
}
.rcpimg{
    display:block;
    margin:auto;
    width:500px;
    height:auto;
}
.botlinks{
    position:relative;
}
h4{
    text-align: center;
}
#backtop{
    position:absolute;
    right:0px;
    top:1.5px;
}

/* Individual recipes header buttons */

.ingre, .steps{
    position:fixed;
    background-color:lightgreen;
    border:solid black;
    text-decoration: none;
    padding:5px;
}
.ingre:hover, .steps:hover{
    background-color:darkgreen
}
.ingre{
    right:10px;
}
.steps{
    left: 10px;
}

/* Index imgs and overlay */
.recipebox{
    position:relative;
    margin:auto;
    width: 700px;
    height:550px;
}
.top, .bot {
    position:absolute;
    width:250px;
    height:250px;
}
.top{
    top:0px;
}
.bot{
    bottom:0px;
}
.right{
    right:0px;
}
.left{
    left:0px;
}
.overlay:hover{
    opacity: 0.7;
}
.overlay{
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(187, 187, 187);
}
.txt{
    height:250px;
    padding-top:110px;
    color:black;
    font-weight:bold;
    font-size:40px;
    text-align: center;
}

